@charset "UTF-8";

body {
    background-color: rgb(118, 129, 125);
    font-family: Arial, Helvetica, sans-serif;

}
h1 {
    color: rgb(3, 74, 9);
}
h1#principal{
    text-align: center;
    background-color: rgb(3, 39, 9);
    color: #fff;
}
.basico{
    color: blue;
}
.intermediario {
    color: blueviolet;
}
.avancado {
    color: chartreuse;
}
h2 {
    color: rgb(35, 89, 71);
}