* {
    margin: 0;
    padding: 0;
}
.footer{
    display: flex;
    width: 100%;
    height: 50px;
    background:  #44788b8a;
    text-align: center;
    align-items: center;
}
 :hover.footer{
background-color: #44788b8a;  
}
h1{
   
    color: #fff;
    font-size: 16px;
    text-align: center;
    align-items: center;
}