@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100%; */
}
body {
    background-image: linear-gradient( to bottom,#BFCDD9, #A3BFD9, #6093BF, #79BAF2,#011640 );
    background-attachment: fixed;
}
main {
    background-color: #fff;
    border-radius: 10px;
    box-shadow:5px 5px 5px rgba(61, 94, 123, 0.6);
    width: 600px;
    padding: 10px;
    margin: auto;
    
    
}
h1{
    color: #053ca9;
    text-align: center;
    text-shadow: 1px 1px 2px #011640;

}
h2 {
    color: #79BAF2;
}

p {
    text-align: justify;
}
