body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: dimgray;
    margin: 0px;
}
header {
    background-color: white;
    margin: 10px;            
    padding: 10px;  
}

h1 {
    box-shadow: inset 2px 1px 14px 6px rgba(0, 0, 0, 0.5);
    text-align: center;
}

nav {
    background-color: rgb(102, 102, 102);
    padding: 3px;
    box-shadow:2px 2px 4px 1px rgba(0, 0, 0, 0.315);
}

nav > a {
    text-decoration: none;
    color: rgb(186, 183, 180);
    font-weight: bold;
    margin-right: 30px;
    box-shadow: 1px 1px 1px black;
   

}
nav a:hover {
    text-decoration: underline;
    
}
main{
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 33px;
}
footer {
    background-color: black;
    color: azure;
    text-align: center;
    padding: 1px;
    margin: 0px;
    
    border-radius: 4px;
    position: fixed;
    width: 100%;
    bottom: 0;
    
}
footer > p {
    margin: 0px;
}
article {
    background-color: rgb(186, 183, 180);
    padding: 5px;
}
article > aside {
    background-color: rgb(129, 126, 118);
}